

body {
  background: url("images/html-background-image-HD1.jpg");
  background-size: 100%;
}
.todo {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  width: 500px;
  background: rgba(255,255,255,0.95);
}
.todo__title {
  text-align: center;
  font-weight: 100;
  font-family: fantasy;
  color: rgba(251, 255, 251, 0.93);
  font-size:4em;
}
.todo__new{
  width: 96%;
  font-size:25px;
  height:2em;
  border:1px solid rgba(0,0,0,0.1);
  font-weight: lighter;
  padding-left: 15px;
}
.todo__new:focus {
  outline: 0;
}

.todo__new::placeholder{
  font-style: italic;
  font-size: 25px;
  color: rgba(0, 0, 0, 0.15);
}
.todo__list{
  width: 100%;
  font-size: 25px;
  display: flex;
  flex-direction: column-reverse;
  font-weight: lighter;
}
.todo__container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 15px;
  border-bottom: inset;
/*min-height: 20px;*/
}
.checkmark {
  margin-left: 15px;
}
.todo__text {
  font-family: 'open sans',arial,sans-serif;
  font-size: 20px;
  width: 85%;
  word-wrap: break-word;
}
.todo__text:focus{
  padding: 10px;
  border: 1px solid rgb(5, 5, 5);
  outline: 0;
}

.strike {
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.22);
  text-decoration-color: rgba(0, 0, 0, 0.22);
}

.checkmark{
  margin-right: 10px;
  margin-left: 10px;
  font-size: 15px;
  color: green;
}

.todo__delete{
  color: #ffcfae;
  float: right;
  font-size: 20px;
  margin-left: 10px;
  display: none;
}
.todo__container:hover .todo__delete{
  display: block;
}

.todo__pannel{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 30px;
}

.todo__left,.todo__all,.todo__active,.todo__completed,.todo__clearcompleted{
  padding: 3px;
  font-size: 12px;
}

.todo__left{
  flex-basis: 60px;
}

.todo__all,.todo__active,.todo__completed,.todo__clearcompleted{
  cursor: pointer;
}

.todo__all, .todo__active,.todo__completed{
  transition: background-color 700ms;
}


.todo__clearcompleted:hover{
  text-decoration: underline;
  text-decoration-color: #ffa94c;
}

.todo__clearcompleted:active{
  text-decoration: underline;
  color: red;
  text-decoration-color: #ff2433;
}

.focus{
  border: 1px solid black;
  border-radius: 10%;
  background: rgba(0, 0, 0, 0.19);
  transition: background-color 500ms;
}

.message{
  position: fixed;
  z-index: 2;
  background-color: #485158;
  color: white;
  padding: 2px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius:7px;
  top: 80%;
  left: 44%;
  display: none;
  transition: all 2s;
}


